In [1]:
import pandas as pd

# Load Excel file
file_path = "Analytics Position Case Study.xlsx"

# Load each sheet
gameplay_df = pd.read_excel(file_path, sheet_name="User Gameplay data")
deposit_df = pd.read_excel(file_path, sheet_name="Deposit Data")
withdrawal_df = pd.read_excel(file_path, sheet_name="Withdrawal Data")

# Display first 5 rows and first 5 columns from each sheet
print("üéÆ User Gameplay Data")
display(gameplay_df.iloc[:, :5].head())

print("üí∞ Deposit Data")
display(deposit_df.iloc[:, :5].head())

print("üè¶ Withdrawal Data")
display(withdrawal_df.iloc[:, :5].head())

üéÆ User Gameplay Data

   User ID  Games Played             Datetime
0      851             1  2022-01-10 00:00:00
1      717             1  2022-01-10 00:00:00
2      456             1  2022-01-10 00:00:00
3      424             1  2022-01-10 00:00:00
4      845             1  2022-01-10 00:00:00

üí∞ Deposit Data

   User Id             Datetime  Amount
0      357  2022-01-10 00:03:00    2000
1      776  2022-01-10 00:03:00    2500
2      492  2022-01-10 00:06:00    5000
3      803  2022-01-10 00:07:00    5000
4      875  2022-01-10 00:09:00    1500

üè¶ Withdrawal Data

   User Id             Datetime  Amount
0      190  2022-01-10 00:03:00    5872
1      159  2022-01-10 00:16:00    9540
2      164  2022-01-10 00:24:00     815
3      946  2022-01-10 00:29:00   23000
4      763  2022-01-10 00:40:00    9473

In [ ]:
Part A

In [35]:
import pandas as pd
from functools import reduce
from datetime import date

# Load Excel file
excel_path = 'Analytics Position Case Study 1.xlsx'
xls = pd.ExcelFile(excel_path)

# Load sheets
gameplay_df = xls.parse('User Gameplay data')
deposit_df = xls.parse('Deposit Data')
withdrawal_df = xls.parse('Withdrawal Data')

# Convert datetime and assign Date and Slot
for df in [gameplay_df, deposit_df, withdrawal_df]:
    df['Datetime'] = pd.to_datetime(df['Datetime'])
    df['Date'] = df['Datetime'].dt.date
    df['Slot'] = df['Datetime'].dt.hour.apply(lambda h: 'S1' if h < 12 else 'S2')

# Aggregate each data source
games_agg = gameplay_df.groupby(['User ID', 'Date', 'Slot'])['Games Played'].sum().reset_index()

deposits_agg = deposit_df.groupby(['User Id', 'Date', 'Slot']).agg(
    deposit_amount=('Amount', 'sum'),
    num_deposits=('Amount', 'count')
).reset_index().rename(columns={'User Id': 'User ID'})

withdrawals_agg = withdrawal_df.groupby(['User Id', 'Date', 'Slot']).agg(
    withdrawal_amount=('Amount', 'sum'),
    num_withdrawals=('Amount', 'count')
).reset_index().rename(columns={'User Id': 'User ID'})

# Merge all into one dataset
loyalty_data = reduce(lambda left, right: pd.merge(left, right, on=['User ID', 'Date', 'Slot'], how='outer'),
                      [games_agg, deposits_agg, withdrawals_agg])
loyalty_data.fillna(0, inplace=True)

# Calculate loyalty points
loyalty_data['loyalty_points'] = (
    0.01 * loyalty_data['deposit_amount'] +
    0.005 * loyalty_data['withdrawal_amount'] +
    0.001 * (loyalty_data['num_deposits'] - loyalty_data['num_withdrawals']).clip(lower=0) +
    0.2 * loyalty_data['Games Played']
)

# Extract separate tables for each requested slot

# a. 2nd October Slot S1
slot_a = loyalty_data[(loyalty_data['Date'] == date(2022, 10, 2)) & (loyalty_data['Slot'] == 'S1')][
    ['User ID', 'loyalty_points']
].sort_values(by='loyalty_points', ascending=False).reset_index(drop=True)
slot_a.columns = ['User ID', 'Loyalty Points (2nd Oct - S1)']

# b. 16th October Slot S2
slot_b = loyalty_data[(loyalty_data['Date'] == date(2022, 10, 16)) & (loyalty_data['Slot'] == 'S2')][
    ['User ID', 'loyalty_points']
].sort_values(by='loyalty_points', ascending=False).reset_index(drop=True)
slot_b.columns = ['User ID', 'Loyalty Points (16th Oct - S2)']

# c. 18th October Slot S1
slot_c = loyalty_data[(loyalty_data['Date'] == date(2022, 10, 18)) & (loyalty_data['Slot'] == 'S1')][
    ['User ID', 'loyalty_points']
].sort_values(by='loyalty_points', ascending=False).reset_index(drop=True)
slot_c.columns = ['User ID', 'Loyalty Points (18th Oct - S1)']

# d. 26th October Slot S2
slot_d = loyalty_data[(loyalty_data['Date'] == date(2022, 10, 26)) & (loyalty_data['Slot'] == 'S2')][
    ['User ID', 'loyalty_points']
].sort_values(by='loyalty_points', ascending=False).reset_index(drop=True)
slot_d.columns = ['User ID', 'Loyalty Points (26th Oct - S2)']

# Display all four slot tables
print("üîπ Loyalty Points - 2nd October S1")
display(slot_a)

print("\nüîπ Loyalty Points - 16th October S2")
display(slot_b)

print("\nüîπ Loyalty Points - 18th October S1")
display(slot_c)

print("\nüîπ Loyalty Points - 26th October S2")
display(slot_d)

üîπ Loyalty Points - 2nd October S1

Empty DataFrame
Columns: [User ID, Loyalty Points (2nd Oct - S1)]
Index: []

üîπ Loyalty Points - 16th October S2

     User ID  Loyalty Points (16th Oct - S2)
0        634                        1491.555
1        212                         999.991
2         99                         980.002
3         28                         900.004
4        566                         880.203
..       ...                             ...
589      526                           0.200
590      533                           0.200
591      536                           0.200
592      841                           0.200
593      999                           0.200

[594 rows x 2 columns]

üîπ Loyalty Points - 18th October S1

     User ID  Loyalty Points (18th Oct - S1)
0        634                        2723.100
1        208                        1701.401
2        673                         900.801
3        162                         770.000
4        245                         750.000
..       ...                             ...
617      443                           0.200
618      444                           0.200
619      446                           0.200
620      818                           0.200
621      513                           0.200

[622 rows x 2 columns]

üîπ Loyalty Points - 26th October S2

     User ID  Loyalty Points (26th Oct - S2)
0        714                        2000.001
1        369                        1501.915
2        634                        1237.010
3        538                        1200.403
4          2                         900.002
..       ...                             ...
623      766                           0.200
624      767                           0.200
625      385                           0.200
626      185                           0.200
627      999                           0.200

[628 rows x 2 columns]

In [61]:

october_data = loyalty_data[
    (loyalty_data['Date'] >= date(2022, 10, 1)) &
    (loyalty_data['Date'] <= date(2022, 10, 31))
]

oct_summary = october_data.groupby('User ID').agg(
    total_loyalty_points=('loyalty_points', 'sum'),
    total_games_played=('Games Played', 'sum')
).reset_index()

oct_summary = oct_summary.sort_values(
    by=['total_loyalty_points', 'total_games_played'],
    ascending=[False, False]
).reset_index(drop=True)

oct_summary['rank'] = oct_summary.index + 1

print("Top 10 Ranked Players for October:")
display(oct_summary.head(10))

Top 10 Ranked Players for October:

   User ID  total_loyalty_points  total_games_played  rank
0      634             61121.160                22.0     1
1      714             14790.824                 4.0     2
2      212             13947.218                 0.0     3
3      672             13238.625                 8.0     4
4       99             12469.951                 4.0     5
5      566             12121.383               106.0     6
6      369             11137.117                22.0     7
7      740             11006.888                 2.0     8
8       30             10802.562                 9.0     9
9      365             10389.779              2368.0    10

In [51]:
avg_deposit_per_txn = deposit_df['Amount'].mean()
print(f"Average Deposit Amount per transaction: ‚Çπ{avg_deposit_per_txn:.2f}")

Average Deposit Amount per transaction: ‚Çπ5492.19

In [55]:
# Add Month column
deposit_df['Month'] = deposit_df['Datetime'].dt.to_period('M')

# Group by User + Month and sum deposits
monthly_deposit = deposit_df.groupby(['User Id', 'Month'])['Amount'].sum().reset_index()

# Now average across all user-months
avg_deposit_per_user_month = monthly_deposit['Amount'].mean()
print(f"Average Deposit Amount per User in a Month: ‚Çπ{avg_deposit_per_user_month:.2f}")

Average Deposit Amount per User in a Month: ‚Çπ22026.85

In [59]:
games_per_user = gameplay_df.groupby('User ID')['Games Played'].sum()
avg_games_per_user = games_per_user.mean()
print(f"Average Number of Games Played per User: {avg_games_per_user:.2f}")

Average Number of Games Played per User: 355.27

Part B

In [63]:
october_data = loyalty_data[
    (loyalty_data['Date'] >= date(2022, 10, 1)) &
    (loyalty_data['Date'] <= date(2022, 10, 31))
]

oct_summary = october_data.groupby('User ID').agg(
    total_loyalty_points=('loyalty_points', 'sum'),
    total_games_played=('Games Played', 'sum')
).reset_index()

# Rank players
oct_summary = oct_summary.sort_values(
    by=['total_loyalty_points', 'total_games_played'],
    ascending=[False, False]
).reset_index(drop=True)

oct_summary['rank'] = oct_summary.index + 1

# Filter top 50 players
top_50 = oct_summary.head(50).copy()

# Calculate bonus per player (proportional to loyalty points)
total_loyalty_top50 = top_50['total_loyalty_points'].sum()
bonus_pool = 50000

top_50['bonus_amount'] = top_50['total_loyalty_points'] / total_loyalty_top50 * bonus_pool
top_50['bonus_amount'] = top_50['bonus_amount'].round(2)

# Step 4: Display top 10
print("Top 10 Bonus Allocations:")
display(top_50[['User ID', 'total_loyalty_points', 'total_games_played', 'rank', 'bonus_amount']].head(10))

Top 10 Bonus Allocations:

   User ID  total_loyalty_points  total_games_played  rank  bonus_amount
0      634             61121.160                22.0     1       7240.96
1      714             14790.824                 4.0     2       1752.25
2      212             13947.218                 0.0     3       1652.31
3      672             13238.625                 8.0     4       1568.37
4       99             12469.951                 4.0     5       1477.30
5      566             12121.383               106.0     6       1436.01
6      369             11137.117                22.0     7       1319.40
7      740             11006.888                 2.0     8       1303.98
8       30             10802.562                 9.0     9       1279.77
9      365             10389.779              2368.0    10       1230.87

In [67]:
from datetime import date

# Filter only October data
october_data = loyalty_data[
    (loyalty_data['Date'] >= date(2022, 10, 1)) &
    (loyalty_data['Date'] <= date(2022, 10, 31))
]

# Summarize per user: loyalty points and games played
oct_summary = october_data.groupby('User ID').agg(
    total_loyalty_points=('loyalty_points', 'sum'),
    total_games_played=('Games Played', 'sum')
).reset_index()

# Sort and rank
oct_summary = oct_summary.sort_values(
    by=['total_loyalty_points', 'total_games_played'],
    ascending=[False, False]
).reset_index(drop=True)

oct_summary['rank'] = oct_summary.index + 1

# Select top 50
top_50 = oct_summary.head(50).copy()

# Calculate bonus share based on loyalty points
bonus_pool = 50000
total_loyalty_top50 = top_50['total_loyalty_points'].sum()

top_50['bonus_amount'] = (top_50['total_loyalty_points'] / total_loyalty_top50) * bonus_pool
top_50['bonus_amount'] = top_50['bonus_amount'].round(2)

# Display or export
print(" Top 50 Players Bonus Distribution")
display(top_50[['User ID', 'total_loyalty_points', 'total_games_played', 'rank', 'bonus_amount']])

 Top 50 Players Bonus Distribution

    User ID  total_loyalty_points  total_games_played  rank  bonus_amount
0       634             61121.160                22.0     1       7240.96
1       714             14790.824                 4.0     2       1752.25
2       212             13947.218                 0.0     3       1652.31
3       672             13238.625                 8.0     4       1568.37
4        99             12469.951                 4.0     5       1477.30
5       566             12121.383               106.0     6       1436.01
6       369             11137.117                22.0     7       1319.40
7       740             11006.888                 2.0     8       1303.98
8        30             10802.562                 9.0     9       1279.77
9       365             10389.779              2368.0    10       1230.87
10      569              9942.818                25.0    11       1177.92
11      992              9503.042              1601.0    12       1125.82
12      421              9416.374               989.0    13       1115.55
13      920              8902.885               614.0    14       1054.72
14      238              8580.328               574.0    15       1016.50
15        2              7925.539                66.0    16        938.93
16      352              7797.865               182.0    17        923.81
17      678              7771.814                 9.0    18        920.72
18      786              7258.213                 6.0    19        859.87
19      915              7188.802                 7.0    20        851.65
20      162              6914.603                 0.0    21        819.17
21      222              6851.011                 5.0    22        811.63
22      978              6824.797                52.0    23        808.53
23      344              6741.712                 1.0    24        798.68
24      538              6696.807                20.0    25        793.36
25      415              6497.623                19.0    26        769.77
26       78              6487.809               379.0    27        768.60
27      909              6486.053                 0.0    28        768.40
28      208              6473.000               333.0    29        766.85
29      601              6300.865                22.0    30        746.46
30      989              6225.607              2303.0    31        737.54
31       28              6159.829                24.0    32        729.75
32      182              5904.390              1572.0    33        699.49
33      587              5887.256               486.0    34        697.46
34      306              5654.133                 3.0    35        669.84
35      294              5562.904                 4.0    36        659.03
36       93              5480.797               291.0    37        649.30
37      200              5265.394                 2.0    38        623.79
38      675              5253.833               419.0    39        622.42
39      259              5118.473                66.0    40        606.38
40      976              4900.812                 4.0    41        580.59
41      612              4624.434               980.0    42        547.85
42      687              4581.612              1106.0    43        542.78
43      667              4530.367               191.0    44        536.71
44      540              4389.049              1481.0    45        519.97
45      856              4261.320              3869.0    46        504.83
46      681              4231.237                 6.0    47        501.27
47      515              4204.606               273.0    48        498.12
48      950              4115.961                 2.0    49        487.61
49       82              4111.855                 3.0    50        487.13

Part C

1. Would you say the loyalty point formula is fair or unfair?

The formula is a strong starting point and reflects the right intent.
But to be fully fair and robust, it needs more behavioral sensitivity, anti-abuse protections, and incentives for consistency.

# Original:
+ 0.001 * max(#deposits - #withdrawals, 0)

# Change to:
+ 0.01 * max(#deposits - #withdrawals, 0)
# ‚Üí Give behavior real weight

# For deposit amount:
loyalty_points += 0.01 * log1p(deposit_amount)
# ‚Üí Prevent big spikes from dominating

# Add daily streaks or login bonuses:
if daily_login_streak >= 5:
    loyalty_points += 2
# ‚Üí Encourage regular engagement

# Weighted games based on average stake:
loyalty_points += 0.2 * num_games * (avg_game_stake / 100)

2. Can you suggest any way to make the loyalty point formula more robust?

In [ ]:

Yes, the loyalty point formula can be improved to make it more balanced and fair across all player types.

Suggestions:
1. Use logarithmic scaling for deposit/withdrawal amounts ‚Äî this prevents high-value players from dominating.
   Example: 0.01 * log(1 + deposit amount)

2. Increase the weight of (#Deposits - #Withdrawals) from 0.001 to 0.01 ‚Äî this better rewards financially positive behavior.

3. Add consistency/streak bonuses ‚Äî reward users who play or deposit regularly over the month.

4. Adjust game weight by value or session time ‚Äî a ‚Çπ1000 game shouldn't earn the same as a ‚Çπ10 game.

5. Add a daily point cap ‚Äî to prevent players from exploiting the system with one-day bulk actions.

Overall, these changes would encourage sustained engagement, fairness, and long-term user retention.